---
layout: default
title: "¿Qué hacer en Río Grande?: Lugares"
---

{% assign lugares = site.lugares-riogrande | sort: "nombre" %}
{% assign url_lugares = site.data.wiki.rg-actividades %}

<h1>Lugares en Río Grande</h1>

<h2>Orden alfabético</h2>
<div id="tabla-contenido">
<ol>
{% for lugar in lugares %}
	<li><a href="{{ lugar.url }} ">{{ lugar.nombre }}</a></li>
{% endfor %}
</ol>
</div>

<h2>Por categoría</h2>
<div id="tabla-contenido">
{% assign lugares = lugares | group_by: "categoria" | sort: "name" %}
{% assign no_category = " " | split: " " %}
<dl>
{% for lugar in lugares %}
	{% if lugar.name != "" %}
	<dt>{{ lugar.name | capitalize }}</dt>
	
	<dd>
		<ol>
			{% for item in lugar.items | sort: "nombre" %}
				<li><a href="{{ item.url }}">{{ item.nombre }}</a></li>
			{% endfor %}
		</ol>
	</dd>
	{% else %}	
		{% for item in lugar.items | sort: "nombre" %}
			{% capture tmp %}<a href="{{ item.url }}">{{ item.nombre }}</a>{% endcapture%}
			{% assign no_category = no_category | push: tmp %}
		{% endfor %}
	{% endif %}	
{% endfor %}

{% if no_category.size > 0 %}
	<dt>Sin categoría</dt>
	<dd>
		<ol>
	{% for item in no_category %}
		<li>{{ item }}</li>
	{% endfor %}
		</ol>
	</dd>
{% endif %}

</dl>
</div>

