---
layout: default
---

{% assign activity_id = page.path | split:"/" | last | split: "." | first %}
{% assign activity =  site.data.actividades | where: "id", activity_id | first %}

<h1>{{ activity.nombre | capitalize }}</h1>

<h2>Descripción</h2>

{{ activity.descripcion | markdownify }}

<h2>¿Dónde se hace?</h2>

{% assign entities = "" %}
{% if page.city == "rio-grande" %}{% assign entities = site.entidades-riogrande %}{% endif %}
{% if page.city == "ushuaia" %}{% assign entities = site.entidades-ushuaia %}{% endif %}
{% if page.city == "tolhuin" %}{% assign entities = site.entidades-tolhuin %}{% endif %}
{% assign entities = entities | where: "categoria",activity_id %}

<ul class="listado-entidades">
{% for entity in entities %}
	<li class="card-entidad {{ entity.precio }}">
		<div class="logo">
			{% if entity.img %} <img src="{{ entity.img }}" width="80" height="80"> {%endif%}
		</div>

		<div class="info">
			<p class="p-name"><a href="{{entity.permalink }}">{{entity.nombre }}</a></p>
			<dl>
				<dt class="direccion visuallyhidden">Direccion</dt>
				
			{% if entity.direccion.lugar %}
				<dd class="p-street-address">
					{% for location in entity.direccion.lugar %}
						{% include get-place.html place=location city="rio-grande" %}	
					{% unless forloop.last %},{%endunless%}
					{%endfor%}

						</dd>
			{% else %} 
				<dd class="p-street-address">sin datos</dd>
			{% endif %}
				
				<dt class="precio visuallyhidden">Precio</dt>
			{% if entity.precio %}
				<dd class="costo">{{ entity.precio }}</dd>
			{% else %} 
				<dd class="costo">sin datos</dd>
			{% endif %}
			</dl>

		</div>

	</li>
{% else %}
	<li> En la ciudad se hace {{activity.nombre }} pero no hay nada listado. Si conoces de alguna, no dudes en <a href="{{ site.data.wiki.colaboracion }}">colaborar</a>. </li>
{% endfor %}
</ul>

