---
layout: default
title: ¿Dónde se hace !actividad! en !ciudad!? #replacements in layout default
this_layout: activity #needed for title replacement
---

{% comment %} now we use the front matter variable
{% assign activity_id = page.path | split:"/" | last | split: "." | first %}
{% endcomment %}
{% assign activity =  site.data.actividades | where: "id", page.activity_id | first %}

<h1>{{ activity.nombre | capitalize }}</h1>

{% if activity.alternativo.size > 0 %}
También conocido como: {{ activity.alternativo | join:", " }}
{% endif %}

{% if activity.descripcion %}
<h2>¿Qué es?</h2>
{{ activity.descripcion | markdownify }}
{% endif %}

<h2>¿Dónde se hace?</h2>

{% assign entities = "" %}
{% if page.city == "rio-grande" %}{% assign entities = site.entidades-riogrande %}{% endif %}
{% if page.city == "ushuaia" %}{% assign entities = site.entidades-ushuaia %}{% endif %}
{% if page.city == "tolhuin" %}{% assign entities = site.entidades-tolhuin %}{% endif %}
{% assign entities = entities | where: "categoria",page.activity_id %}

<ul class="listado-entidades">
{% for entity in entities %}
	<li class="card-entidad {{ entity.precio }}">
		<div class="logo">
			{% if entity.imagen %}{% include get-logo.html logo=entity.imagen width=80 %}{%endif%}
		</div>

		<div class="info">
			<p class="p-name"><a href="{{entity.permalink }}">{{entity.nombre }}</a></p>
			<dl>
				<dt class="direccion visuallyhidden">Direccion</dt>
				
			{% if entity.direccion.lugar %}
				<dd class="p-street-address">
					{% for location in entity.direccion.lugar %}
						{% include get-place.html place=location city=page.city %}	
					{% unless forloop.last %},{%endunless%}
					{%endfor%}

						</dd>
			{% else %} 
				<dd class="p-street-address">sin datos</dd>
			{% endif %}
				
				<dt class="precio visuallyhidden">Precio</dt>
			{% if entity.precio %}
				<dd class="costo">{{ entity.precio }}</dd>
			{% else %} 
				<dd class="costo">sin datos</dd>
			{% endif %}
			</dl>

		</div>

	</li>
{% else %}
	<li> En la ciudad se hace <mark>{{ activity.nombre }}</mark> pero no hay nada listado. Si conoces de alguna, no dudes en <a href="{{ site.data.wiki.colaboracion }} rel="external"">colaborar</a>. </li>
{% endfor %}
</ul>

<h2>Comentarios</h2>

{% include comment-form.html add_activity=true %}


{% if page.comments %}
<section class="comentarios-pagina">
	{% for comment in page.comments %}
		{% include site-comment.html %}
	{% endfor %}
</section>

{% endif %}