---
layout: default
---

<article id="bus-page">

	{% assign color_html = "" %}
	{% case page.color %}
		{% when 'azul' %} {% assign color_html = "blue" %}
		{% when 'violeta' %} {% assign color_html = "purple" %}
		{% when 'rojo' %} {% assign color_html = "red" %}
		{% when 'celeste' %}{% assign color_html = "lightblue" %}
		{% when 'amarillo' %}{% assign color_html = "yellow" %}
		{% when 'naranja' %}{% assign color_html = "orange" %}
		{% when 'verde' %}  {% assign color_html = "green" %}		
	{% endcase %}	
	<h2 class="p-name" itemprop="name" style="border-left: 6px solid {{ color_html }}; padding-left: 0.2em;">{{ page.nombre }}</h2>

	<dl>
		<dt>Color</dt>
			<dd><span style="">{{ page.color }}</span></dd>
	
	
		<dt>Áreas</dt>
			<dd>{{ page.areas | array_to_sentence_string | replace:" and ", ","}} </dd>

		<dt>Recorrido (mapa)</dt>
			<dd>
				<figure style="margin:0">
					<div id="map" class="map-rg map-bus-stops"></div>	
					<figcaption>
						<dl>
							<dt>Paradas verdes</dt><dd style="margin-top: 0; margin-bottom: 0;">sin garita</dd>
							<dt>Paradas azules</dt><dd style="margin-top: 0;margin-bottom: 0;">con garita</dd>
							<dt><samp>La parada debe comprobarse</samp></dt><dd style="margin-top: 0; margin-bottom: 0;">significa que se supone que está ahí (en esa área) pero no sabemos con exactitud.</dd>
						</dl>
					</figcaption>
				</figure>
				<noscript>
				  <p>No te preocupes, era un lindo mapa con el recorrido.</p>
				</noscript>
			</dd>
			
			
		<dt>Descarga</dt>
			{% assign this_kml = "" %}
			{% assign this_gpx = "" %}
			{% case page.uid %}
				{% when 'linea-a' %}
					{% assign this_kml = site.maps.buses-rg-linea-a.kml %}
					{% assign this_gpx = site.maps.buses-rg-linea-a.gpx %}
				{% when 'linea-b' %}
					{% assign this_kml = site.maps.buses-rg-linea-b.kml %}
					{% assign this_gpx = site.maps.buses-rg-linea-b.gpx %}
				{% when 'linea-c' %}
					{% assign this_kml = site.maps.buses-rg-linea-c.kml %}
					{% assign this_gpx = site.maps.buses-rg-linea-c.gpx %}
				{% when 'linea-d' %}
					{% assign this_kml = site.maps.buses-rg-linea-d.kml %}
					{% assign this_gpx = site.maps.buses-rg-linea-d.gpx %}
			{% endcase %}
			<dd>
				<ul>
					<li><a href="{{ this_kml }}">KML</a></li>
					<li><a href="{{ this_gpx }}">GPX</a></li>
					<li><a href="{{ site.maps.buses-rg-all.kmz }}">KMZ</a> (todos los recorridos con las paradas)</li>
				</ul>
			</dd>			

		<dt>Recorrido (listado)</dt>
			<dd class="recorrido">
				<ul>
					{% for item in page.recorrido %}
						<li>
							<span class="calles">{{ item.calle }}</span> 
							{% if item.punto %}
							{% assign point = item.punto | split: ", " %}
							<a href="http://www.openstreetmap.org/?mlat={{ point[0] }}&mlon={{ point[1] }}#map=17/{{ point[0] }}/{{ point[1] }}">(ver punto)</a>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</dd>
	</dl>

	
	<footer>
		<p>
			<span class="ultima-actualizacion p-note">Última actualización: <time datetime="{{ page.ultima-actualizacion }}">{% include human-date.html hide_weekday=true date=page.ultima-actualizacion%}</time></span>
		¿Información errónea? ayuda <a href="{{ site.github.repository_url }}/blob/{{ site.github.branch }}/{{ page.path }}">corregiendo la información</a>
		</p>
	</footer>

</article>


<h2>Comentarios</h2>

{% include comment-form.html %}

{% if page.comments %}
<section class="comentarios-pagina">
	{% for comment in page.comments %}
		{% include site-comment.html %}
	{% endfor %}
</section>

{% endif %}