---
layout: default
#title: "!lugar!, !ciudad!" #replacements in layout default
this_layout: place #needed for title replacement
---

<article class="h-card card-lugar" itemscope itemtype="http://schema.org/Place">

	<h2 class="p-name" itemprop="name">{{ page.nombre }}</h2>

	{% if page.imagen != "" %}
	<div class="photo">
    	<img class="u-photo" alt="" src="{{ page.imagen }}" height="440" width="440" itemprop="photo">
		<a class="ver-img" href="{{ page.imagen }}">Ver foto</a>
	{% else %}
	<div class="photo no-photo">
	{% endif %}
	</div>

	<div class="info"><dl>
		<dt class="direccion"><span>Dirección</span></dt>
			<dd>
				{% unless page.direccion %} <p>Dirección no encontrada</p>{% else %}
				<p style="display:inline" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span class="p-street-address" itemprop="streetAddress">{{ page.direccion }}</span></p>
			  	
				<ul class="ver-mapa" aria-label="Ver en mapa">
					<li><a href="http://www.openstreetmap.org/?mlat={{ page.geo.lat }}&mlon={{ page.geo.lon }}#map=17/{{ page.geo.lat }}/{{ page.geo.lon }}" rel="external" class="osm">Mapa</a>
					<li><a href="{{ page.gstreetview }}" rel="external" itemprop="hasMap" class="gstreetview">Google Street View</a>
					<li  itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates"><a href="geo:{{ page.geo.lat }},{{ page.geo.lon }};u=35" rel="external">Programa asociado</a>
						<data class="p-latitude" value="{{ page.geo.lat }}">
						<data class="p-longitude" value="{{ page.geo.lon }}">
				  		<meta itemprop="latitude" content="{{ page.geo.lat }}" />
	    				<meta itemprop="longitude" content="{{ page.geo.lon }}" />
	    			</li>
				</ul>
				{% endunless %}
			</dd>

			{% if page.horario[0].dia != "" %}
			<dt class="horarios"><span>Horarios</span></dt>
				<dd itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
		    	{% for horario in page.horario %}
				<span itemprop="dayOfWeek" content="{{ horario.dia }}"> {{ horario.dia }}</span>

				{% if horario.hora != "" %}
					{% assign horas = horario.hora | split:"-" %}
				<span itemprop="opens" content="{{ horas[0] }}">{{ horas[0] }}</span> a <span itemprop="closes" content="{{ horas[1] }}">{{ horas[1] }}</span>
      			{% endif %}
      			
				{% if horario.nota != "" %}. <strong>Nota:</strong> {{ horario.nota }} {% endif %}
      			
      			{% endfor %}
      			</dd>
			{% endif %}

			{% if (page.telefono[0] | replace:" ","" | strip ) != "" or (page.email | strip ) != "" %}
			<dt class="contacto"><span>contacto</span></dt>
				<dd>
				{% if (page.telefono[0] | replace:" ","" | strip ) != "" %}
					<p class="telefono"><span class="label">Teléfono</span>
					{% for telefono in page.telefono %}
					<a class="p-tel" itemprop="telephone" href="tel:+54-9-02964-{{ telefono }}">{{ telefono }}</a>{% unless forloop.last %},{% endunless %}
					{% endfor %}
					</p>
				{% endif %}
				{% if (page.email | strip ) != "" %}
					<p class="email">
						<span class="label">Email</span> <span itemprop="email">{% include print-email.html email= page.email %}</span>
					</p>
				{% endif %}
	      		</dd>
			{% endif %}

      		{% if (page.website[0]| strip ) != "" %}
			<dt class="web"><span>Sitios</span></dt>
				<dd><ul>
				{% for web in page.website %}
					{% capture domain %}{% include get-domain.html url=web no_dot=true%}{% endcapture %}
					{% capture handle %}{% include get-social-handle.html url=web %}{% endcapture %}
				<li>
					<a href="{{ web }}" class="u-url" 
					{% if handle != "" %}data-social-handle="{{handle}}" {%endif%}
					itemprop="url">{{ domain }}
					</a>
				</li>
				{% endfor %}
			  </ul></dd>
			{% endif %}

			{% if page.nota != "" %}
		    <dt class="nota p-note"><span>Nota</span></dt><dd>{{ page.nota }}</dd>
			{% endif %}
		</dl>
	</div>

	<footer>
		<p>
			<span class="ultima-actualizacion p-note">Última actualización: <time datetime="{{ page.ultima-actualizacion }}">{% include human-date.html hide_weekday=true date=page.ultima-actualizacion%}</time></span>
		¿Información errónea? ayuda <a href="{{ site.github.repository_url }}/blob/{{ site.github.branch }}/{{ page.path }}">corregiendo la información</a>
		</p>
	</footer>
</article>


<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "Place",
   "geo": {
     "@type": "GeoCoordinates",
     "latitude": "{{ page.geo.lat }}",
     "longitude": "{{ page.geo.lon }}"
   },
	"address": {
		"@type": "PostalAddress",
		"streetAddress": "{{ page.direccion }}",
		"postalCode": "{{ site.data.datos-ciudades[this_city].codigo-postal }}",
		"addressLocality": "{{ this_city_pretty }}",
		"addressRegion": "Tierra del Fuego",
		"addressCountry": "Argentina"
	},
	"hasMap": "http://www.openstreetmap.org/?mlat={{ page.geo.lat }}&mlon={{ page.geo.lon }}#map=17/{{ page.geo.lat }}/{{ page.geo.lon }}",
	"image": "{{ page.imagen }}",
   "name": "{{ page.nombre | replace:'"','\"'}}"
}
</script>

<h2>Actividades que se hacen</h2>

{% assign entities = "" %}
{% if page.city == "rio-grande" %}{% assign entities = site.entidades-riogrande %}{% endif %}
{% if page.city == "ushuaia" %}{% assign entities = site.entidades-ushuaia %}{% endif %}
{% if page.city == "tolhuin" %}{% assign entities = site.entidades-tolhuin %}{% endif %}
{% assign entities = entities | group_by: "categoria" %}


{% assign print_entities = " " | split: " " %}
<ul>
{% for entity in entities | sort: "name" %}
	{% assign print_entities = " " | split: " " %}

	{% for item in entity.items %}
		{% if item.direccion.lugar contains page.uid %}
			{% capture tmp %}<a href="{{ item.permalink | prepend: site.baseurl }}">{{ item.nombre }}</a>{% endcapture %}
			{% assign print_entities = print_entities | push: tmp %}
		{% endif %}
	{% endfor %}
	
	{% if print_entities.size > 0 %}
		{% assign tmp = site.data.actividades | where: "id", entity.name | first %}
		<li>{{ tmp.nombre }}: {{ print_entities | join:", " }}</i>
	{% endif %}
	
{% endfor %}
</ul>





<h2>Eventos que transcurrieron</h2>

{% assign filtered_posts = site.posts | where:"location", page.id %}
<ul class="entidad-eventos-aparece">
{% for post in filtered_posts %}
	{% comment %}just in case, check city{% endcomment %}
	{% if (post.categories | first) == page.city %}
		<li>
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <span class="post-details">({% include human-date.html hide_weekday=true %})</span>
		</li>
	{% endif %}
{% else %}
	<li>No se encuentra en ningún evento (o no se asignó correctamente)</li>
{% endfor %}
</ul>



<h2>Comentarios</h2>

{% include comment-form.html %}