---
layout: default
title: Actividades en Río Grande
---

{% assign url_actividades = "" %}
{% if page.city == "rio-grande" %}{% assign url_actividades = site.data.wiki.rg-actividades %}{% endif %}
{% if page.city == "ushuaia" %}{% assign url_actividades = site.data.wiki.ush-actividades %}{% endif %}
{% if page.city == "tolhuin" %}{% assign url_actividades = site.data.wiki.tol-actividades %}{% endif %}






<div id="tabla-contenido">
<p>Actividades encontradas en esta página, separada por categorías y por orden alfabético.</p>

{% assign actividades = site.data.actividades | group_by: "tipo" | sort: "name" %}

{% for actividad in actividades %}
<dl class="toc-headings">
	<dt>{{ actividad.name }}</dt>
	{% assign letter = "" %}
	<dd><ol class="list-multicolumn">
	{% for item in actividad.items | sort: "nombre" %}
		{% unless item.provincias contains {{page.city}} %} {% continue %} {% endunless %}
		{% assign current_letter = item.nombre | truncate: 1, '' | lower %}
		{% if current_letter != letter %}
			{% assign letter = current_letter %}
			{% unless forloop.first %}</li></ol>{%endunless%}
			<li> <span class="letter">{{ letter }}</span><span class="visuallyhidden">:</span>
			<ol class="inline-items">
		{% endif %}
		{% comment %} url_actividades already has trailing slash {% endcomment %}
		<li><a href="{{ url_actividades }}{{ item.id }}/">{{ item.nombre }}</a></li>
	{% endfor %}
	</ol></dd>
{% endfor %}
</dl>

</div>

